In [1]:
import pandas as pd

In [13]:
po_df = pd.read_csv('amazonLTLPO.csv')
po_df.head()

,Order/PO Number,External ID,Model Number,ASIN,Merchant Sku,Title,List Price,Discount,Cost,Quantity Ordered,...,Payment Method,Special Instructions,Comments,Legal Entity Id,Currency Code,External Id Type,Item Package Quantity,Aggregate Quantity,Merchant Customer ID,Merchant Sku ratio
0,11GT5SPY,655258819180,K5506-F1211,B0095BBEJ6,NaN,HomePop Parsons Classic Upholstered Accent Din...,$144.86,0%,$144.86,3,...,Invoice,NaN,NaN,101,USD,6,1,1,NaN,0%
1,11GT5SPY,655258828205,K6171-B119,B00J8VMUP0,NaN,HomePop by Kinfine Fabric Upholstered Round St...,$139.99,45%,$76.64,8,...,Invoice,NaN,NaN,101,USD,6,1,1,NaN,0%
2,11GT5SPY,655258822715,K1136-F975,B071XZ2VQ6,NaN,HomePop Parsons Classic Upholstered Accent Din...,$96.74,21%,$76.64,4,...,Invoice,NaN,NaN,101,USD,6,1,1,NaN,0%
3,11GT5SPY,655258854921,K7646-A750,B079RWVD8J,NaN,HomePop Square Storage Ottoman with Hinged Lid...,$79.71,0%,$79.71,8,...,Invoice,NaN,NaN,101,USD,6,1,1,NaN,0%
4,11GT5SPY,655258857557,N8264-F2206,B07FZPQV38,NaN,HomePop Large Button Tufted Round Storage Otto...,$109.99,15%,$93.66,3,...,Invoice,NaN,NaN,101,USD,6,1,1,NaN,0%

In [42]:
#clean up data

new_df = po_df[['Order/PO Number', 'ASIN', 'Model Number', 'List Price', 'Discount', 'Cost', 'Quantity Ordered', 'Quantity Confirmed', 'Quantity Received']]
new_df["List Price"] = new_df["List Price"].replace('[\$,]', '', regex=True).astype(float)
new_df["Cost"] = new_df["Cost"].replace('[\$,]', '', regex=True).astype(float)
new_df['Total'] = new_df['List Price'] * new_df['Quantity Ordered']
new_df

<ipython-input-42-4cec95b81f08>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["List Price"] = new_df["List Price"].replace('[\$,]', '', regex=True).astype(float)
<ipython-input-42-4cec95b81f08>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Cost"] = new_df["Cost"].replace('[\$,]', '', regex=True).astype(float)
<ipython-input-42-4cec95b81f08>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Total'] = new_df['List Price'] * new_df['Quantity Ordered']

,Order/PO Number,ASIN,Model Number,List Price,Discount,Cost,Quantity Ordered,Quantity Confirmed,Quantity Received,Total
0,11GT5SPY,B0095BBEJ6,K5506-F1211,144.86,0%,144.86,3,3,0,434.58
1,11GT5SPY,B00J8VMUP0,K6171-B119,139.99,45%,76.64,8,0,0,1119.92
2,11GT5SPY,B071XZ2VQ6,K1136-F975,96.74,21%,76.64,4,4,0,386.96
3,11GT5SPY,B079RWVD8J,K7646-A750,79.71,0%,79.71,8,0,0,637.68
4,11GT5SPY,B07FZPQV38,N8264-F2206,109.99,15%,93.66,3,3,0,329.97
...,...,...,...,...,...,...,...,...,...,...
2327,6XZ1M5DA,B07DY7VPDS,K6171-F2248,130.99,44%,72.81,1,1,0,130.99
2328,6XZ1M5DA,B07FZPQ2KY,N8264-E697,93.66,0%,93.66,3,3,0,280.98
2329,6XZ1M5DA,B07FZPQV38,N8264-F2206,109.99,15%,93.66,1,1,0,109.99
2330,8HG7MHME,B01DGBYT0G,K6862-E847,77.61,0%,77.61,10,10,0,776.10
2331,8HG7MHME,B079S77RC5,K6859-A832,162.23,0%,162.23,3,3,0,486.69

In [34]:
#get the top ten items

# i define top ten is by quanttity ordered or total price?

#first see by quantity ordered

topQuantity = new_df.groupby('Model Number').sum().sort_values('Quantity Ordered', ascending = False )
topQuantity

,List Price,Cost,Quantity Ordered,Quantity Confirmed,Quantity Received,Total
Model Number,,,,,,
K7116-YDQY-2,1919.88,1618.68,1266,937,0,202547.34
K7646-A750,11325.10,6855.06,985,227,9,119591.19
K7351-J014,1562.56,1562.56,757,0,0,36964.31
K6171-B229,3059.00,1680.38,587,174,90,78071.00
K6862-E844,3481.22,1777.44,510,80,20,79121.00
...,...,...,...,...,...,...
K7052-1501-5,224.99,205.20,1,0,0,224.99
K8168-E697,145.00,145.00,1,0,0,145.00
K7395-F2133,203.97,203.97,1,0,0,203.97
K7576.24-F2060,139.99,122.32,1,1,0,139.99
K7743-B267,270.99,150.80,1,0,0,270.99

In [38]:
topQuantity.index[0:10]

Index(['K7116-YDQY-2', 'K7646-A750', 'K7351-J014', 'K6171-B229', 'K6862-E844',
       'N5762-E155', 'K6171-B119', 'K2380-E155', 'N8264-F2206', 'N8264-B119'],
      dtype='object', name='Model Number')

In [35]:
#now by total money generated 

topTotal = new_df.groupby('Model Number').sum().sort_values('Total', ascending = False )
topTotal

,List Price,Cost,Quantity Ordered,Quantity Confirmed,Quantity Received,Total
Model Number,,,,,,
K7116-YDQY-2,1919.88,1618.68,1266,937,0,202547.34
K7646-A750,11325.10,6855.06,985,227,9,119591.19
K2380-E169,2599.90,769.10,330,240,0,85796.70
K6862-E844,3481.22,1777.44,510,80,20,79121.00
K6171-B229,3059.00,1680.38,587,174,90,78071.00
...,...,...,...,...,...,...
K7401-F2348,122.99,68.30,1,1,0,122.99
K7501-B233,119.99,91.97,1,0,0,119.99
K7224-B227,99.99,76.64,1,0,0,99.99
K7243-J001,95.99,53.38,1,1,0,95.99
K4286-E846,70.13,70.13,1,0,0,70.13

In [39]:
topTotal.index[0:10]

Index(['K7116-YDQY-2', 'K7646-A750', 'K2380-E169', 'K6862-E844', 'K6171-B229',
       'K6171-B119', 'K6499-B228', 'K2380-E155', 'K6862-E847', 'N8264-F2206'],
      dtype='object', name='Model Number')

In [40]:
#now that we have the top ten

# we have to figure out which definition of top ten to use


# then figure out should we base our data for out model for each item or have it aggregate all the data for each item.

In [41]:
#baseline model

#limited data if we just choose one item.

#we also need to get the analytics data from amazon and see the cause of buying the # quantity.


new_df[new_df['Model Number'] == 'K7116-YDQY-2']

,Order/PO Number,Model Number,List Price,Discount,Cost,Quantity Ordered,Quantity Confirmed,Quantity Received,Total
293,1S8CME6Z,K7116-YDQY-2,159.99,16%,134.89,129,129,0,20638.71
420,24JOM3JE,K7116-YDQY-2,159.99,16%,134.89,44,44,0,7039.56
469,29KXD79X,K7116-YDQY-2,159.99,16%,134.89,47,0,0,7519.53
563,2J7BYV4U,K7116-YDQY-2,159.99,16%,134.89,8,8,0,1279.92
584,2JCRFYEU,K7116-YDQY-2,159.99,16%,134.89,318,318,0,50876.82
1318,4GYGE3ST,K7116-YDQY-2,159.99,16%,134.89,83,83,0,13279.17
1427,51U6RHPL,K7116-YDQY-2,159.99,16%,134.89,156,156,0,24958.44
1724,6O8XLT8B,K7116-YDQY-2,159.99,16%,134.89,118,118,0,18878.82
1865,6YSTI4JY,K7116-YDQY-2,159.99,16%,134.89,2,2,0,319.98
1948,75EQSNZB,K7116-YDQY-2,159.99,16%,134.89,29,29,0,4639.71
1979,79V9QJWL,K7116-YDQY-2,159.99,16%,134.89,50,50,0,7999.50
2193,86X9D1MP,K7116-YDQY-2,159.99,16%,134.89,282,0,0,45117.18